li { list-style: inherit ; } /* default is none! */

sup {
font-size: 70%;
vertical-align: super;
}

.monospace {
font-family: monospace;
font-style: normal;
font-variant: normal;
background-color: #ECEFF1;	/* light gray */
}


/*
Default font family: Lato
Changed styles.min.css: s@Lato@'IBM Plex Sans'@g
*/


.text-big.text-big-header {
border-left: 3px solid #20D022;
padding-top: 1em;
padding-bottom: 1em;
padding-left: 1em;
}
