li { list-style: inherit ; } /* default is none! */

sup {
font-size: 70%;
vertical-align: super;
}

.monospace {
font-family: monospace;
font-style: normal;
font-variant: normal;
background-color: #ECEFF1;	/* light gray */
}


/*
Default font family: Lato
Changed styles.min.css: s@Lato@'IBM Plex Sans'@g
*/


.text-big.text-big-header {
border-left: 3px solid #20D022;
padding-top: 1em;
padding-bottom: 1em;
padding-left: 1em;
}

h6 {
border-left: 2rem solid #ECEFF1;
padding-left: 1rem;
margin-bottom: 1em;
}


.offset-lg-0-5 {
    margin-left: 4.16666%
}
ul.nobullets{
 list-style-type: none;
}

.three-column-list-container {
    width: 100%;
    margin: 0 auto;
}
.three-column-list {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
    display: flex; /* Use flexbox */
    flex-wrap: wrap; /* Allow items to wrap */
}
.three-column-list li {
    width: 33.33%; /* Each item takes up one-third of the width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    border: 1px solid #ccc;
    text-align: left  ;
}

dt{
     margin-left: 2rem;
    }
dd{
     margin-left:4rem;
}
