li { list-style: inherit ; } /* default is none! */

sup {
font-size: 70%;
vertical-align: super;
}

.monospace {
font-family: monospace;
font-style: normal;
font-variant: normal;
background-color: #ECEFF1;	/* light gray */
}


/*
Default font family: Lato
Changed styles.min.css: s@Lato@'IBM Plex Sans'@g
*/
